<?xml version="1.0" encoding="utf-8" ?>
<config>
    <database>
        <!-- 连接的数据库配置，地址、端口号、账号、密码、数据库名
         端口默认为3306，字符集默认为utf8-->
        <host>172.16.26.89</host>
        <port>3306</port>
        <user>root</user>
        <pwd>admin</pwd>
        <db>cvhub</db>
        <charset>utf8</charset>
    </database>
    <generator>
        <!-- 生成器需要配置的信息，使用的数据库名 -->
        <table_schema>cvhub</table_schema>
        <!-- 需要生成的数据库表名，可多个，用英文逗号分隔，默认会生成三个文件，java、mapper、xml -->
        <table_names>cvhub_image,cvhub_video</table_names>
        <!-- 指定表指定列，可多个，需要用英文逗号分隔，需要注意的是，如果多表的时候，不支持指定多表中的任意字段 -->
        <column_name></column_name>
        <!-- 输出路径，默认为当前目录下，如果path标签下的两个参数存在，那么优先按下面标签的路径输出 -->
        <path>
            <default_path>./输出目录</default_path>
            <!-- 该参数将决定生成的java类文件存放位置。由该参数，生成器会自动拼接java源码包路径前缀"src/main/java"，
            形成java类文件项目前置路径，生成器会将else标签中的命名空间都转化为相应路径，并与前置路径拼接生成完整路径，
            需要注意的是，如果填入了此路径，else标签中的选项必须写入，否则依然只能写入到path目录
            所以如果写入了该参数，那么就意味着指定位置的文件将被替换，请谨慎！ -->
            <java_path>D:\\java_workspaces\\demo</java_path>
            <!-- java项目的源码包相对路径目录结构，可不填默认为src/main/java -->
            <src_relative>src/main/java</src_relative>
            <!-- 该参数将决定xml文件的存放位置。需要绝对路径。 -->
            <xml_path>D:\\java_workspaces\\demo\\src\\main\\resources\\mybatis</xml_path>
        </path>
        <!-- lombok注解，开启填true，关闭清空值即可，不开启会生成getter和setter -->
        <lombok>true</lombok>
        <!-- 支持自定义的可执行sql语句，会生成java和xml，xml里只会有该查询语句对应的resultMap，查询字段需要是正常列名 -->
        <exec_sql></exec_sql>
        <!-- 优先级：exec_sql 最高，有可执行语句即按exec_sql执行，其次，必须指定表名，列名可不指定，列名指定后，按列名来执行
         参数填写规则为：表名、列名、可执行语句可同时存在，以优先级顺序决定执行策略。如表名同时多个，请清空列名和可执行语句，
         当可执行语句存在，请将表名指定为一个想生成的实体类名；当指定列名存在，请指定列所属表名
         -->
    </generator>
    <else>
        <!-- 实体类所在包的命名空间，例如com.demo.model，
        若无，在xml中生成器将会在需要的地方自动填入“实体类”，mapper文件也不会自动import该命名空间，
        实体类文件头部也不会自动添加该命名空间
        -->
        <model_package>com.example.demo.model</model_package>
        <!-- mapper的namespace，例如com.demo.dao，所对应的是xml文件中的namespace，
        若无，xml文件中将自动填入“待填写”，mapper文件头部不会添加该命名空间
        -->
        <mapper_package>com.example.demo.mapper</mapper_package>
        <service_package>com.example.demo.service</service_package>
        <service_impl_package>com.example.demo.service.impl</service_impl_package>
        <controller_package>com.example.demo.controller</controller_package>
    </else>
</config>